<!--create.ejs-->
<form action="/search/create" method="POST">
    <div class="form-group">
        <label>estate</label>
        <input type="text" class="form-control" name="Search[estate]" >
    </div>
    <div class="form-group">
        <label>bedroom</label>
        <input type="number" class="form-control" name="Search[bedroom]" >
    </div>
    <div class="form-group">
        <label>area</label>
        <input type="number" class="form-control" name="Search[area]" >
    </div>
    <div class="form-group">
        <label>rent</label>
        <input type="number" class="form-control" name="Search[rent]" >
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>