<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>index</title>
    <style>
        nav a {
            font-family: "MuseoModerno", cursive;
            font-size: 16px;
            font-weight: 400;
        }

        .jumbotron {
            padding: 2rem 0rem;
            margin-bottom: 1rem;
        }

        .jumbotron h1 {
            font-family: "Sofia", cursive;
        }

        .jumbotron .lead {
            font-family: "Noto Sans HK", sans-serif;
            font-size: 1.25rem;
        }

        #content {
            margin-bottom: 379px;
        }

        #div01 {
            padding: 20px 20px 20px;
        }

        #Login {
            float: right;
        }

        footer {
            border-top: solid 1px #e4e4e4;
            margin-top: 41px;
            position: initial;
            bottom: 0;
            width: 100%;
            background-color: #f2f2f2;
        }

        footer img {
            width: 72px;
            float: left;
        }

        footer .lead {
            font-size: 15px;
        }

        footer .container {
            margin-top: 8px;
        }

        footer p {
            font-family: "open Sans", sans-serif;
            font-size: 14px;
            color: rgb(92, 92, 92);
            margin-bottom: 1px;
        }

        footer h5 {
            font-family: "Noto Sans TC", sans-serif;
            font-size: 18px;
        }

        footer ul {
            list-style: none;
            padding: 0;
            float: left;
            margin-right: 70px;
        }

        footer ul li {
            margin-bottom: 7px;
        }

        footer ul li a {
            color: rgb(92, 92, 92);
        }

        @media only screen and (max-width: 1200px) {
            footer .lead {
                margin-left: 72px;
            }
        }

        @media only screen and (max-width: 767px) {
            #links {
                margin-top: 20px;
            }
        }

        @media only screen and (max-width: 574px) {
            #links {
                margin-top: 1px;
            }
        }

        @media only screen and (max-width: 991px) {
            footer .lead {
                margin-left: 72px;
                margin-top: 8px;
            }

            footer ul {
                margin-bottom: 0;
            }
        }
    </style>



</head>

<body οnlοad="init()">
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="http://localhost:1337/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                id="flip" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="http://localhost:1337/rent/paginate">Search </a>
                    <a class="nav-item nav-link " href="http://localhost:1337/user/2/renting" style='display:none'
                        id='myrent'>My Rentals</a>
                    <a class="nav-item nav-link" href="http://localhost:1337/rent/create" style='display:inline'
                        id='create'>Create</a>
                    <a class="nav-item nav-link" href="http://localhost:1337/rent" style='display:inline'
                        id='admin'>Admin</a>
                    <a class="nav-item nav-link active" href="http://localhost:1337/user/login" style='display:inline'
                        id='login'>Login<span class="sr-only">(current)</span></a>
                </div>
            </div>
            <text style='display:none' id='hiadmin'>
                <h5>hi,admin</h5>
            </text>
            <text style='display:none' id='himartin'>
                <h5>hi,martin</h5>
            </text>
            <text style='display:none' id='hikenny'>
                <h5>hi,kenny</h5>
            </text>
            <a class="nav-item nav-link" href="http://localhost:1337/user/logout" style='display:none'
                id='logout'>Logout</a>
        </nav>
    </div>
    <div id="highlight" class="jumbotron jumbotron-fluid">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="display-4">Real Estate Rental System</h1>
                    <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare
                        and finding roommates.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container " id="content">
        <form action="/user/login" method="POST" onsubmit="submitForm(this);return false">
            <div class="col-md-4 m-auto">
                <div class="form-group ">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" name="username">
                </div>
            </div>
            <div class="col-md-4  m-auto">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        name="password">
                </div>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
    <div id="footer" class="fixed-bottom">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-left" style="padding: 0" id="fdiv" }}>
                        <img src='https://i.ibb.co/vDHHmnS/logo.png'></img>
                        <h5 id="links">Real Estate Rental System</h5>
                        <p class="lead">Simple and easy-to-use rental system can find roommates for you.
                        </p>
                    </div>
                    <div class="col-md-4 text-left" id="fdiv">
                        <h5 id="links">Links</h5>
                        <ul>
                            <li><a href="http://localhost:3000/">Home</a></li>
                            <li><a href="http://localhost:1337/rent/paginate">Search</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-left" id="fdiv">
                        <h5>Contact Me</h5>
                        <p>香港浸會大學吳多泰博士國際中心809房<br> Phone: (852) 9047-3975<br> E-Mail: <a
                                href="mailto:19413238@life.hkbu.edu.hk">19413238@life.hkbu.edu.hk</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        window.onload = function () {

            var create = document.getElementById("create");
            console.log(create);

            var admin = document.getElementById("admin");
            var myrent = document.getElementById("myrent");

            if ("<%= req.session.username %>" == 'admin') {
                login.style.display = 'none';
                logout.style.display = 'inline';
                hiadmin.style.display = 'inline';
            } else if ("<%= req.session.username %>" == 'kenny') {
                create.style.display = 'none';
                admin.style.display = 'none';
                login.style.display = 'none';
                logout.style.display = 'inline';
                hikenny.style.display = 'inline';
                myrent.style.display = 'inline';
            } else if ("<%= req.session.username %>" == 'martin') {
                create.style.display = 'none';
                admin.style.display = 'none';
                login.style.display = 'none';
                logout.style.display = 'inline';
                himartin.style.display = 'inline';
                myrent1.style.display = 'inline';
            } else {
                create.style.display = 'none';
                admin.style.display = 'none';
            }

        };

        async function submitForm(a) {
            var response = await fetch(a.action, {
                method: a.method,
                credentials: 'same-origin',
                body: new FormData(a),
            });
            if (response.ok) {
                var data = await response.json(); // for res.ok() or res.json()
                alert(data.message);
                window.location = data.url;
                // location.reload(true);
            } else if (response.status == 401) {
                var data = await response.text(); // for res.send()
                alert(data);
            } else {
                alert(response.statusText);
            }
        };
    </script>

</body>

</html>